/* 
    Document   : viewProfile
    Created on : Jul 15, 2011, 6:39:13 PM
    Author     : orangehrm
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

div.editProfileForm {
    width: 500px;
    top: 28px;
    border: 2px double #666666;
    margin-left: 50px;
}

span.mandatoryStar {
    color: #fb0000;
}

div.editProfileForm div.formField form#editProfile div#form div label {
    float: left;
    width: 20%;
}

form#editProfile div .username , .projectAdmin {
    font-size: 14px;
    width: 60%;
    
}

div.formField {
    padding-top: 20px;
}

div#requiredField {
    font-size: 10px;
    padding-left: 12px;
}

form#editProfile div li{
    list-style-type: none;
    padding-left: 190px;
}

table.tableContent {
    width: 1000px;
}

div.error {
    color: #CC0033;
    font-size: 12px;
    margin-left: 190px;
}

form div {
    clear: left;
    margin: 0;
    padding: 0;
    padding-top: 0.6em;
}

form#editProfile label {
    float: left;
    width: 185px;
}

html body div.Profile div.editProfileForm div.formField form#editProfile #saveButton , #cancel {
    padding: 0px 5px 0px 5px;
    margin: 0px 15px 0px 10px;
}