/* 
    Document   : addProjects
    Created on : Mar 17, 2011, 9:30:12 AM
    Author     : orangehrm
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

table.tableContent {
    width: 850px;
}

#addProjectForm label {
    float: left;
    width: 125px;
} 

div.addForm {
    width: 570px;
}
form div {
    clear: left;
    margin: 0;
    padding: 0;
    padding-top: 0.6em;
}

span.mandatoryStar {
    color: #fb0000;
}

#addProjectForm div li{
    list-style-type: none;
    padding-left: 125px;
}
