/* 
    Document   : addProjects
    Created on : Mar 17, 2011, 9:30:12 AM
    Author     : orangehrm
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

table.tableContent {
    width: 550px;
}

#addProjectForm label {
    float: left;
    width: 65px;
} 

div.addForm {
    width: 380px;
}
