body {
    font-family: sans-serif;
    font-style: normal;
}

/* Standard margin and padding reset, normally done on the body */


table.tableContent {
    position: relative;
    top: 125px;
    left: 50px;
    text-align: center;
    font-weight: normal;
    color: #fff;
    width: 280px;
    background-color: #666;
    border: 0px;
    border-collapse: collapse;
    border-spacing: 0px;
}

table.tableContent td {
    background-color: #CCC;
    color: #000;
    padding: 4px;
    font-size: 16px;
    text-align: left;
    border: 1px #fff solid;
}



table.tableContent th {
    white-space: pre;
    background-color: #666;
    color: #fff;
    padding: 4px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
    text-align: center;
    border: 1px #fff solid;
    font-weight: bold;
}

table.tableContent td.close {
    padding-left: 20px;
}

table.tableContent td.edit {
    padding-left: 20px;
}

form * {
    line-height:  35px;
    margin:0;
    padding:0;
    text-align: left;
    font-style: normal;
    font-weight: normal;
}



.pageNav a:link {
    color: blue;
    text-decoration: underline;
}

.pageNav a:visited {
    color: purple;
    text-decoration: underline;

}

.pageNav a:active {
    background-color: yellow;
    text-decoration: none;
}

.pageNav a:hover {
    color:red;
    text-decoration: underline;
}

a:link {
    color: blue;
    text-decoration:none;
}

a:visited {
    color: purple;
    text-decoration:none;
}

a:active {
    background-color: yellow;
    text-decoration:none;
}

a:hover {
    color:red;
    text-decoration:none;
}

input.formButton {
    width: auto;
    text-align: center;
}

div.addButton {
    position: relative;
    top: 100px;
    left: 50px;
}


div.addForm {
    position: relative;
    top: 100px;
    left: 50px;
    padding: 0px;
    width: 300px;
    border: 2px solid #666;
    border-style: double;
}



div.headlineField {
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
    width: auto;
    position: relative;
    background-color: #666;
    color: #fff;
    top: 0px;
}

div.formField {
    padding-top: 10px;
    padding-left: 13px;
    padding-bottom: 10px;
}

table.tableContent td.pageNav {
    background-color: #fff;
    text-align: right;
}

div.header {
    background-color: #f1aa1b;
}

div.navigaiton {
    background-color: #f1aa1b;
}

