/* 
    Document   : viewStories
    Created on : Mar 17, 2011, 9:35:17 AM
    Author     : orangehrm
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

.heading span#noRecordMessage {
    color: darksalmon;
    font-weight: bold;
}

table.tableContent {
    top: 30px;
    width: 1000px;
}

td.changedName {
    width: 640px;
}

td.edit {
    cursor:pointer;
}

a img {
    border: none;
}

#dialog h1{
    
    font-size: 1.2em;
    margin: .6em 0;
}

.ui-dialog-buttonpane{

    font-size: 14px;
    font-family: sans-serif;
}

.ui-button-text{
    color:#211e2d;
    font-size: small;
    font-weight: bold;
}

.moreStar{
    position: relative;
    top: 3px;
    left: 5px;
}

div#moreField {
    position: relative;
    left: 38px;
    top: 5px;
    font-size: 10px;
    padding-left: 12px;
}
