/* 
    Document   : addProjects
    Created on : Mar 17, 2011, 9:30:12 AM
    Author     : orangehrm
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

table.tableContent {
    width: 950px;
}

#showProjectForm label {
    position: relative;
    float: left;
    width: 190px;
} 

div.showForm {
    width: 950px;
}

form div {
    clear: left;
    margin: 0;
    padding: 0;
    padding-top: 0.6em;
}

#showProjectForm{
    position: relative;
    left: 25px;
}
.form_devision_heading{
    font-size: 20px;
    font-weight: bold;
}

span.mandatoryStar {
    position: relative;
    color: #fb0000;
    top: 3px;
    left: 3px;
}

#project_description{
    width: 687px;
}

.division_content{
    position: relative;
    left: 25px;
}

.break_line{
    width: 910px;
    border: 1px solid #666;
    position: relative;
    left: 15px;
}
#showProjectForm div li{
    list-style-type: none;
    padding-left: 125px;
}

div.error {
    color: #CC0033;
    font-size: 12px;
    margin-left: 135px;
}

div#requiredField {
    font-size: 10px;
    padding-left: 12px;
}

table.showTable {
    position: relative;
    top: 10px;
    left: 5px;
    text-align: center;
    font-weight: normal;
    color: #fff;
    width: 885px;
    background-color: #666;
    border: 0px;
    border-collapse: collapse;
    border-spacing: 0px;
    margin-bottom: 30px;
}


.nameColumn{
    width: 40%;
}

.percentageColumn{
    width: 40%;
}

table.showTable td {
    background-color: #CCC;
    color: #000;
    padding: 4px;
    font-size: 14px;
    text-align: left;
    border: 1px #fff solid;
}

table.showTable th {
    white-space: pre;
    background-color: #666;
    color: #fff;
    padding: 4px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    text-align: center;
    border: 1px #fff solid;
    font-weight: bold;
}

div#moreFieldProject {
    position: relative;
    bottom: 10px;
    right: 5px;
    font-size: 10px;
    padding-left: 12px;
}

.listAction{
    width: 11%;
}

textarea.description{
    width: 90%;
    height: 40px;
}

.descriptionColumn{
    width: 50%;
}

.editBtn, #saveBtn, #editBtn, .deleteBtn, .confirmLink{
    cursor:pointer;
    position: relative;
    left: 30%;
}
