/* 
    Document   : viewStories
    Created on : Mar 17, 2011, 9:35:17 AM
    Author     : orangehrm
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

table.tableContent {
    top: 110px;
}

td.edit {
        cursor:pointer;
}

a img {
        border: none;
}
